@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --primary-color: #3E55F9;
    --danger-color: #da4a56;
    --success-color: #3EF9D6;
    --warning-color: #F5DB86;
    --white-color: #fff;
    --gray-color: #7d8da1;
    --dark-color: #363949;
    --light-color: rgba(132, 139, 200, 0.18);
    --dark-variant: #677483;
    --bg-color: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--light-color)
}

.dark-mode {
    --bg-color: #181a1e;
    --white-color: #202528;
    --dark-color: #edeffd;
    --dark-variant: #a3bdcc;
    --light-color: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 3rem 2rem #131313;
}

    /*Reset index*/
  * {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
  }

  html { font-size: 14px;}
  body {
    width: 100vw;
    height: 100vh;
    font-family: "SN Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    user-select: none;
    color: var(--dark-color);
    background-color: var(--bg-color)
    }

a { color: var(--dark-color);}
img {
    display: block;
    width: 100%;
    object-fit: cover;
}

h1 {font-weight: 800; font-size: 2rem;}
h2 {font-weight: 700; font-size: 1.6rem;}
h3 {font-weight: 500; font-size: 1rem;}
small {font-size: 0.76;}
p { color: var(--dark-variant);}
b { color: var(--dark-color);}

/*Spacific index*/
.text-muted { color: var(--gray-color);}
#primary { color: var(--primary-color);}
#danger { color: var(--danger-color);}
#success { color: var(--success-color);}
#warning { color: var(--warning-color);}

/* Screen grid */
.container {
    display: grid;
    height: 100vh;
    width: 96vw;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 15rem auto 23rem;
    overflow: hidden;
}

/* Sidebar */
aside { height: 100vh; }
.toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.logo { display: flex; gap: 1rem; align-items: center; margin-left: 1rem;}
.logo img { width: 4rem; height: 4rem;}
.logo span { color: var(--primary-color);}
.close { margin-left: auto; display: none;}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    box-shadow: var(--box-shadow) ;
    border-radius: 15px;
    height: 80vh;
    cursor: pointer;
    position: relative;
    top: 1.5rem;
    transition: all 0.3s ease;
}

.sidebar:hover { box-shadow: none;}

.sidebar a {
    display: flex;
    align-items: center;
    color: var(--gray-color);
    gap: 1.5rem;
    height: 8vh;
    width: 100%;
    padding-left: 1.2rem;
    position: relative;
    border-radius: 15px;
}

.sidebar a span { font-size: 1.5rem; transition: all 0.3s ease;}
.sidebar a:last-child {position: absolute; bottom: 2rem; }
.sidebar a:last-child:hover {background-color: var(--light-color);}
.sidebar a.active {color: var(--primary-color); background-color: var(--light-color);}
.sidebar a.active::before {
    content: ""; width: 6px;
    height:100%;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
}

.sidebar a:hover { color: var(--primary-color);}
.sidebar a:hover span { margin-left: 0.8rem;}
.sidebar a span.message-count {
    font-size: 1rem;
    color: var(--white-color);
    background-color: var(--danger-color);
    padding: 2px 6px;
    border-radius: var(--border-radius-1);
}

/* Main */
main { margin-top: 0.8rem; height: 100%; width: 100%;}

.analytics {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background-color: var(--white-color);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease;
}

.banner:hover { box-shadow: none;}

.progress {
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

.progress svg {
    width: 7rem;
    height: 7rem;
}

.progress svg circle {
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    stroke: var(--success-color);
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

.p-v svg circle {
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    stroke: var(--danger-color);
    stroke-dashoffset: 20;
    stroke-dasharray: 200;
}

.p-s svg circle {
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    stroke: var(--primary-color);
    stroke-dashoffset: -50;
    stroke-dasharray: 200;
}
.percentage {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.Admin { margin-top: 1rem;}
.adminlist {
    background-color: var(--white-color);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.adminlist:hover {box-shadow: none;}
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile img {
    width: 4.5rem;
    height: 4.5rem;
    margin-bottom: 0.4rem;
    border-radius: 50%;
}

.order { margin-top: 0.8rem;}
.order h2 { margin-bottom: 0.8rem;}
.order table {
    background-color: var(--white-color);
    width: 100%;
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    border-radius: var(--card-border-radius);
    transition: all 0.3s ease;
}

.order table:hover { box-shadow: none;}

.order table td {
    height: 2rem;
    border-bottom: 1px solid var(--light-color);
    color: var(--dark-variant);
}

#order-list tr:last-child td { border:none }
#start { text-align: start;}

/* Right side */
.order a {display: block; text-align: center; margin-top: 1rem; color: var(--primary-color);}

.right {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.top { margin-top: 1rem;
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.nav button { background-color: transparent; display: none;}

.mode {
    display: flex;
    align-items: center;
    background-color: var(--light-color);
    border-radius: 15px;
    overflow: hidden;
    height: 2rem;
    cursor: pointer;
}

.mode span {
    font-size: 1.8rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--dark-color);
}

.mode span.active {
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 12px;
}
.mode button {
    border: none;
    background: transparent;
    cursor: pointer;
    display: flex;
    padding: 0.4rem;
    pointer-events: none;
}

.user {
    display: flex;
    gap: 2rem;
}

.user-profile {width: 3rem; height: 3rem; overflow: hidden;}
.user-profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.user-info {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 1.3rem;
    background-color: var(--white-color);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease;
}

.user-info:hover { box-shadow: none;}
.user-info img { width: 11rem; height: auto; margin-bottom: 1rem;}

.remind { margin-top: 2rem; }

.head {
    display: flex;
    align-items: center;
    justify-content: start;
}
.head span {margin-left: 2rem;}

.reimis-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.noti {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white-color);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease;
}

.noti:hover { box-shadow: none;}

.icon {
    padding: 0.5rem 0.8rem;
    color: var(--white-color);
    background-color: var(--primary-color);
    border-radius: 15px;
}

.icon-d { background-color: var(--danger-color); }

.add {
    align-items: center;
    justify-content: start;
    border: 2px dashed var(--primary-color);
    color: var(--primary-color);
    cursor: pointer;
}

.add:hover {
    background-color: var(--primary-color);
    color: var(--white-color);

}
.add span { margin: 0 2rem;}

/* Responsive */
@media screen and (max-width: 1200px){
    .container {
    grid-template-columns: 15rem auto 22rem;
    }
    .analytics {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    }
    .adminlist {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    .order {
        position: absolute;
        left: 10;
        width: 80%;
        overflow-x: auto;
    }
}


@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        grid-template-columns: 1fr;
        padding: 0 1.2rem;
    }

    aside {
        position: fixed;
        width: 15rem;
        background-color: var(--white-color);
        z-index: 10;
        height: 100vh;
        left: -100%;
        display: block;
        transition: all 0.4s ease;
        box-shadow: 1rem 3rem 4rem var(--light-color);
    }

    aside.show-sidebar {
        left: 0;
    }
    aside .toggle .close {
        display: inline-block;
        cursor: pointer;
    }
    
    main, .right {
        width: 100%;
    }

    .order {
        position: relative;
        margin-top: 2rem;
        width: 100%;
        left: 0;
    }

    .order table {
        width: 100%;
        margin: 0;
    }

    .order {
        overflow-x: auto;
        margin-left: 0;
    }
    .top {
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 0.8rem;
        height: 4.6rem;
        background-color: var(--white-color);
        width: 100%;
        margin: 0;
        z-index: 2; 
        box-shadow: 0 1rem 1rem var(--light-color);
        display: flex;
        justify-content: space-between; 
    }

    .top button#menu-btn {
        display: block;
        background: transparent;
        cursor: pointer;
        color: var(--dark-color);
        font-size: 2rem;
        margin-right: auto;
    }

    .mode { margin-left: auto;}
    
    #menu-btn span {
        font-size: 2rem;
        margin-top: 5rem; 
    }
}